# Node
node_modules/
npm-debug.log*

# Environment variables
.env
.env.local

# Flutter build output
client/build/
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies

# Python
venv/
__pycache__/
*.pyc
.env

# OS
.DS_Store
Thumbs.db
