# ===== Node =====
node_modules/
npm-debug.log*
yarn-error.log

# ===== Environment =====
.env
.env.local
.env.production

# ===== Flutter / Dart =====
client/build/
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/.packages
client/.pub-cache/
client/.pub/
client/**/.dart_tool/

# ===== Python =====
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
*.so

# ===== OS =====
.DS_Store
Thumbs.db
desktop.ini

# ===== IDE =====
.vscode/settings.json
.idea/
*.iml
